@font-face {
  font-family: 'coolvetica_lt';
  src: url('https://www.babybanden.no/users/babybandensand_mystore_no/fonts/coolvetica_lt-webfont.woff2') format('woff2'),
    url('https://www.babybanden.no/users/babybandensand_mystore_no/fonts/coolvetica_lt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --border-sm: 4px;
  --border-md: 8px;
  --border-lg: 12px;
  --border-full: 999px;

  --brand-font: 'coolvetica_lt';

  --primary-color: #0B828E;
  --primary-color-hover: #096872;
  --page-bg: #f9f9f9;
  --burnt-orange: #b0320e;
  --green: #00a896;
  --magenta: #e10e58;
  --magenta-hover: #b10b45;
  --pink: #F06292;

  /* - Retro color palette
  --primary-color: #0261A1;
  --primary-color-hover: #1E0C46;
  --page-bg: #E6DACA;
  --burnt-orange: #FA5A36;
  --green: #004D45;
  --magenta: #A9225C;
  */

}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--brand-font);
}

body {
  background-color: var(--page-bg) !important;
}

/* --- Breadcrumbs --- */
div:has(div > div.breadcrumb) {
  background: var(--page-bg) !important;
}

.breadcrumb>a {
  color: #03272B !important;
}

/* --- HEADER --- */
.__icon_wrapper[data-subblock-key="custom_icon"] {
  display: flex;
  flex-direction: row;
  gap: .3rem;
  justify-content: start;
  align-items: center;
  border-radius: var(--border-sm);
  /* background: rgba(255,255,255, .1); */
}

body:not(.index-page) .__header_static {
  background: var(--primary-color) !important;
}

.__icon_wrapper>* {
  color: white !important;
}

header .__header_static div[id$="__header_menu_button"] {
  display: flex;
  width: 100%;
  justify-content: end;
}

input.__search_input_field::-webkit-input-placeholder,
input.__search_input_field::placeholder {
  color: #ffffff !important;
}

.__search_input_field {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .04)) !important;
}

.__open_search_section svg {
  fill: white;
  opacity: .7;
}

.open_search_section svg :where(input#open_search:focus) {
  opacity: 1;
}

._megamenu-buton svg {
  display: none;
}

._megamenu-buton {
  display: flex;
  align-items: center;

}

._megamenu-buton::after {
  content: url('https://www.babybanden.no/users/babybandensand_mystore_no/icons/chevron-right.png');
  transform: rotate(0deg);
  width: 22px;
  height: 22px;
  transform: scale(.8);
  filter: invert(100%) brightness(200%);
}

.__wishlist_icon small,
.__shopping_icon small {
  position: absolute;
  top: -1rem;
  background-color: var(--pink) !important;
  color: #ffffff !important;
}

.__header_section>*,
.__header_icons_block svg {
  color: #ffffff !important;
  fill: #ffffff;
}

.__header_section .__header_logo_block {
  filter: invert(100%) brightness(120%);
}

.__productslist_section {
  background-color: transparent !important;
}

.__productslist>.container {
  background: #ffffff;
  padding: 2rem;
  border-radius: var(--border-lg);
}

@media screen and (max-width: 768px) {
  .__productslist>.container {
    padding: 1rem;
    border-radius: var(--border-lg);
  }
}

.__slider_section {
  background-color: transparent !important;
}

.__slider_section .splide__track {
  border-radius: var(--border-lg);
  overflow: hidden;
  position: relative;
  outline: 8px solid rgba(130, 230, 230, .7);
  box-shadow: 0px 38px 30px -27px rgb(5 122 132 / 59%);
}

/* --- INDEX PAGE --- */
.index-page .page-wrapper {
  background-image: linear-gradient(180deg, var(--primary-color) 0%, #48c7c9 10%, var(--page-bg) 20%);
}

@media screen and (max-width: 768px) {
  .index-page .page-wrapper {
    background-image: linear-gradient(180deg, var(--primary-color) 0%, #48c7c9 5%, var(--page-bg) 10%);
  }
}

/* --- PRODUCT PAGE --- */
.__pp_title_block:has(.text-heading-2) {
  line-height: 1.25;
  letter-spacing: .1rem;
  margin-bottom: 7px;
}

div[id$="__pp_title_brand"] {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.discount_ribbon {
  display: none;
}

.__pp_main_sections {
  position: relative;
}

.product-page section[id$="__product_slider"] {
  padding: 1rem;
  border-radius: var(--border-lg);
}

.__product_purchase_section_section {
  background: #fafafa !important;
  padding: 1rem 1rem 1.5rem 1rem;
}

#add2cart .__pp_title_block {
  font-family: var(--brand-font);
}

.product-page #add2cart section.__pp_purchase_buttons_block #addToCartWrapper {
  border-radius: var(--border-full);
  overflow: hidden;
}

#addToCartWrapper button {
  background-color: var(--primary-color) !important;
}

.product-page #add2cart section.__pp_purchase_buttons_block button#addToShoppingCart:hover {
  background: var(--primary-color-hover) !important;
}

.product-page .__tab-wrapper {
  box-shadow: none !important;
  background-color: var(--page-bg) !important;
}

.product-page .pp_wishlist {
  padding-right: 8px;
  width: 3.5rem;
  background: inherit;
  transition: background 150ms ease-in;
}

.product-page .pp_wishlist:hover {
  background: var(--primary-color-hover) !important;
}

.product-page #add2cart .__pp_purchase_variants_block button {
  border-radius: var(--border-full);
}

.product-page #add2cart .__pp_purchase_variants_block span:has(svg) {
  padding-right: 1rem;
}

.__tab-wrapper .__tab-content>h2 {
  border-bottom: 1px solid rgba(10, 10, 10, .2);
}

.product-page .__pp_description_block button.__pp_description_block_button {
  margin-top: .5rem !important;
  color: var(--primary-color) !important;
}

.product-page .__pp_description_block_text {
  color: #262626 !important;
}

#add2cart .__best-prices {
  margin-bottom: 1rem;
  padding: .5rem;
  border-radius: var(--border-sm);
  color: #303030;
}

#add2cart .__best-prices svg {
  fill: #303030;
}

.products_price {
  color: var(--magenta) !important;
}

.price-old {
  color: #262626 !important;
  font-weight: 300 !important;
  font-style: italic;
}

.product-page .prices>.flex>span.text-sm {
  background-color: var(--green) !important;
  border: 0;
  border-radius: var(--border-full);
  color: #ffffff !important;
  padding: 6px 12px;

}

#add2cart .posted_in {
  position: relative;
  color: var(--magenta) !important;
  padding: .5rem;
  background-color: #ffffff;
  border-radius: var(--border-sm);
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;
}

#add2cart .posted_in::before {
  content: "\2727";
  font-size: 22px;
}

#add2cart .posted_in strong[id="bonuspoeng_strong"] {
  padding: 2px 8px;
  background: var(--magenta);
  color: white;
  border-radius: var(--border-full);
}

.__pp_stockstatus_block {
  position: relative;
  font-size: .825rem !important;
  font-weight: 400 !important;
  display: flex;
  align-items: center;
  padding: .725rem .5rem .5rem .5rem;
  background-color: rgba(72, 199, 201, .1);
  border-radius: 0;
  margin-bottom: 0;
  color: #103737 !important;
}

.product-page #add2cart {
  & .__pp_usp_block {
  color: #103737 !important;
  background-color: rgba(72, 199, 201, .1);
  font-size: .825rem !important;
  border-bottom: 1px solid rgba(72, 199, 201, .2);
  border-radius: var(--border-sm) var(--border-sm) 0px 0px;
  }

  & .__pp-usp-icon {
    display: flex; 
    align-items: center;
  }
}

.__pp_stockstatus_block::before {
  content: "Nettlager:";
  padding-right: 4px;
  font-weight: 600;
}

.__pp_pstock_sync_block li {
  font-size: .826rem !important;
  padding: .5rem .5rem .725rem .5rem;
  background-color: rgba(72, 199, 201, .1);
  border-radius: 0px 0px var(--border-sm) var(--border-sm);
  color: #103737;
}

@media screen and (max-width: 768px) {
  .product-page #add2cart .__pp_price_block .prices {
    justify-content: center;
  }

  .__pp_usp_block,
  .__pp_stockstatus_block,
  .__pp_pstock_sync_block .text-xs {
    display: flex;
    justify-content: center;
  }
}


/* --- PRODUCT PAGE CUSTOMER CLUB --- */

.product-page .customer-club {
  color: #262626;
  border: 1px solid var(--magenta);
  border-radius: var(--border-md);
  background-color: #f9f9f9;
}

.product-page .customer-club ul {
  list-style-type: none !important;
  padding-block: .5rem;
}

.product-page .customer-club ul li::before {
  content: "\2727";
  color: var(--magenta);
  padding-right: .5rem;
}


.product-page .customer-club-content>p>img {
  filter:
    hue-rotate(151deg) brightness(78%) saturate(160%);
  margin-left: -1rem;
}

.product-page .customer-club-sign-up {
  border-radius: var(--border-md);
  background: var(--magenta);
  color: #ffffff;
  transition: background 150ms ease-in;
}

.product-page .customer-club-sign-up:hover {
  background-color: var(--magenta-hover);
}

.customer-club-slides button.customer-club-accept {
  background: var(--magenta) !important;
}

.customer-club-slides button.customer-club-accept:hover {
  background: var(--magenta-hover) !important;
}

/* --- PRODUCT PAGE TABS --- */
.product_info_section:has(> div[id$="__pp_tabs"]) {
  background: var(--page-bg) !important;
}

.product-page div[id$="__pp_tabs"] li.tab-control a {
  font-family: var(--brand-font);
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.product-page div[id$="__pp_tabs"] li.tab-control.active {
  color: #030303;
  position: relative;
}

.product-page div[id$="__pp_tabs"] li.tab-control:not(.active) {
  position: relative;
  opacity: .8;
}

.product-page div[id$="__pp_tabs"] li.tab-control.active::before {
  content: "";
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: var(--border-full);
  background-color: var(--primary-color);
  transition: opacity 300ms ease-in,
    left 100ms ease-in;
}

.product-page div[id$="__pp_tabs"] li.tab-control:not(.active)::before {
  content: "";
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: var(--border-full);
  background-color: var(--primary-color);
  opacity: 0;
}

/* --- BABYBANDEN FX --- */

._megamenu-buton,
.__icon_wrapper[data-subblock-key="custom_icon"] {
  position: relative;
}

._megamenu-buton small::after,
.__icon_wrapper[data-subblock-key="custom_icon"]::after {
  content: "";
  position: absolute;
  width: 0%;
  border-radius: var(--border-sm);
  height: 2px;
  background: #ffffff !important;
  bottom: 0;
  left: 0;
  filter: unset;
  opacity: 0;
  transition:
    width 150ms ease-in,
    opacity 100ms ease-in;

}

._megamenu-buton small:hover::after,
.__icon_wrapper[data-subblock-key="custom_icon"]:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  border-radius: var(--border-sm);
  height: 2px;
  background: #ffffff !important;
  bottom: 0;
  left: 0;
  filter: unset;
  opacity: .8;
}

header .__open_search_section input {
  box-shadow: 0px 12px 26px -10px rgba(3, 55, 60, .2);
  transition: box-shadow 200ms ease-in;
}

header .__open_search_section input:focus {
  box-shadow: 0px 12px 26px -10px rgba(3, 55, 60, .6);
  transition: box-shadow 150ms ease-in;
}

/* --- Index category row --- */

.index-page section.bb_pop_cats>div {
  gap: 3rem !important;
}

.index-page section.bb_pop_cats .__typography_block {
  background: linear-gradient(0deg, rgba(250, 255, 255, .7), rgba(250, 255, 255, .1)) !important;
  border-radius: var(--border-lg) !important;
  box-shadow: 0px 12px 18px -12px rgba(5, 52, 57, .3);
  transition: background-color 200ms ease-in,
    box-shadow 200ms ease-in,
    color 200ms ease-in;
  padding: 0;
  border: 4px solid var(--primary-color) !important;
}

.index-page section.bb_pop_cats .__typography_block:hover {
  background: linear-gradient(0deg, rgba(250, 255, 255, 1), rgba(250, 255, 255, .1)) !important;
  border-radius: var(--border-lg) !important;
  box-shadow: 0px 12px 18px -6px rgba(5, 52, 57, .5);
  opacity: 1;
}

.index-page section.bb_pop_cats .__typography_block h3 a {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

/* --- PRODUCT BOXES --- */
.product-thumb-info-content .pb_category_and_brand {
  font-family: var(--brand-font);
  color: #262626;
}

.product-thumb-info-content .pb_price:not(:has(+ .__cc-price))>p:first-child {
  color: var(--magenta) !important;
}

.product-thumb-info-content .pb_price {
  margin-top: .5rem;
}

.product-thumb-info {
  border: 1px solid #ebebeb;
  border-radius: var(--border-lg);
  padding-top: 1rem;
  isolation: isolate;
}

.product-thumb-info .pb_price:has(+ .__cc-price)>* {
  color: #262626 !important;
}

.product-thumb-info .h-8 {
  position: absolute;
}

.product-thumb-info .__cc-price {
  padding: .5rem;
  background-color: var(--magenta);
  line-height: 1rem !important;
  width: fit-content;
  border-radius: var(--border-md);
  color: #ffffff;
  position: absolute;
  top: 260px;
  z-index: 20;
}

.product-thumb-info .__cc-price::before {
  content: "\2727";
  font-size: 14px;
}

.product-thumb-info .__cc-price>span {
  line-height: unset !important;
}

.new_ribbon {
  font-size: 1rem;
  background-color: #0b828e5e !important;
  color: #03272b;
  padding: .5rem .7255rem;
  border-radius: var(--border-md);
  left: .5rem;
  top: 0;
  position: absolute;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.product-thumb-info .wishlist {
  top: -.5rem;
  right: .5rem;
  background: #f062920d;
  backdrop-filter: blur(8px);
  border-radius: var(--border-md);
  overflow: hidden;
  height: 36px;
  width: 36px;
}

.product-thumb-info .wishlist svg {
  height: 1.3rem;
  fill: var(--pink);
}

/* --- CUSTOMER CLUB PRICES --- */

.prices:has(+ .club-price)>.flex>.products_price,
.prices:has(+ .club-price)>.flex>.price-old {
  color: #262626 !important;
}

.product-page #add2cart .club-price {
  font-size: 1.2rem;
  line-height: 1rem;
  margin-top: 14px;
  border-radius: var(--border-lg);
  padding: 1rem;
  color: #ffffff;
  background-color: var(--magenta);
}

.product-page #add2cart .club-price::before {
  content: "\2727";
  font-size: 22px;
  padding-right: .5rem;
}

/* --- CATEGORY PAGE --- */
.category-page .__category_title_block {
  font-family: var(--brand-font);
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .category-page .filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: .725rem;
    margin-right: 1.5rem !important;
  }

  .category-page .filter-wrapper .js-filter {
    border: none;
  }

  .category-page .filter-wrapper .js-filter-toggle {
    border-radius: var(--border-full) !important;
    overflow: hidden;
    border: 1px solid #ebebeb;
  }

  .category-page .filter-wrapper .js-filter-box {
    border-radius: var(--border-lg);
    margin-top: .3rem;
    box-shadow: 0px 0 0 300vh rgba(4, 57, 62, 0.20);
    border: 0;
  }

  .category-page .filter-wrapper .js-filter-box::before {
    content: "\25B2";
    position: absolute;
    top: -1.2rem;
    left: 1rem;
    color: #ffffff;
    font-size: 1.3rem;
  }

  .category-page .filter-wrapper .js-filter-toggle {
    padding-inline: 1rem;
  }

  .category-page .js-filter-dropdowns .__sorter-filter select {
    height: fit-content;
    border-radius: var(--border-full) !important;
  }
}

/* --- CART PAGE --- */
.cart-page .__cart_block {
  font-family: var(--brand-font);
}

.cart-page .__main_page_wrapper {
  background-color: #ffffff;
  border-radius: var(--border-lg);
  padding: 1.5rem;
}

.cart-page .__main_wrapper {
  border: 0;
}

.cart-page .summarybox .__summary-text-after {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: .5rem;
}

.cart-page .summarybox .__cart-total-before-shipping {
  font-weight: 800;
}

.cart-page .__main_wrapper > form section.__product_wrapper:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}

.cart-page .__product_wrapper {
  border: 0;
}

.cart-page .__original_price .text-red-800 {
  color: var(--magenta);
}

.cart-page .commentbox #comment_area textarea {
  resize: none;
}

.cart-page .__product_wrapper .__price_wrapper .__discount_price > span {
  width: 42px !important;
  text-align: center;
}

.cart-page .__product_wrapper .__price_wrapper .__discount_price {
    background-color: var(--magenta);

}

.cart-page .__product_wrapper .__qty_wrapper button {
  background-color: #f9f9f9;
  height: 38px;
  aspect-ratio: 1;
  border-radius: var(--border-md);
}

.cart-page .__product_wrapper .__qty_wrapper input {
  background-color: #ffffff;
  border: 1px solid #f9f9f9;
  height: 38px;
  aspect-ratio: 1;
  border-radius: var(--border-md);
}

.__shopping-cart .cart-bottom div:has( > .__shopping-continue-button)::before {
  content: "+ fast frakt 99,-";
  display: flex;
  justify-content:center;
  padding-bottom: 1rem;
  margin-top: -1rem;
  color: #262626;
  font-style: italic; 
  font-size: .825rem;
}

/* --- Separate Lipscore section on product page --- */

.product-page .product_review_section .__tab-wrapper ul li:has(> a:not(.__lipscore_tab_link)) {
  display: none;
}

.product-page .product_review_section .__tab-wrapper li a.__lipscore_tab_link{
  color: #030303;
}

.product-page .product_review_section .__tab-wrapper li a.__lipscore_tab_link::before{
  content: "\2605";
  font-size: 1rem;
  padding-right: .5rem;
  color: rgb(254, 184, 70);
}



@media screen and (max-width: 768px) {
  .product-page .product_review_section .__tab-content>h2:has(+ .__description_tab),
  .product-page .product_review_section .__tab-content>h2:has(+ .__manufacturer_tab),
  .product-page .product_review_section .__tab-content>h2:has(+ .__datasheet_tab) {
    display: none;
  }
}

@media (min-width: 800px) {
  .product-page .product_review_section .__tab-wrapper > div.__tab-content > div:has(:not(.__lipscore_tab)) {
    display: none;
  }
  .product-page .product_review_section .__tab-wrapper>div.__tab-content>.__lipscore_tab {
    display: block !important;
  }
}

/* --- Blog posts on index --- */
.__blog-post-mini {
  border-radius: var(--border-lg);
  overflow: hidden;
}

.__blog-post-title {
  text-align: left;
  font-family: var(--brand-font);
    display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  min-height:68px;
  max-height: 68px;
}

.__post-excerpt {
  text-align: left;
  font-size: .825rem;
  font-weight: 400 !important;
}

.__post-excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
} 

.__blog-post-content {
  margin: 0;
  padding: 1rem;
  color: #262626 !important;
}